<!-- <p>angularmaterial works!</p> -->

<!-- <p>This is Slide Toggle</p> -->
<mat-slide-toggle checked #toggleBtnS></mat-slide-toggle> {{toggleBtnS.checked}} <hr>

<!-- Mat Buttons Different Examples -->
<div>
    <button mat-button>Here</button> 
    <button mat-fab>Here</button>
    <button mat-flat-button>Here</button>
    <button mat-icon-button>Here</button>
    <button mat-mini-fab>Here</button>
    <button mat-raised-button>Here</button>
    <button mat-stroked-button>Here</button>
</div> <hr>

<!-- Mat Buttons Different Examples -->
<div>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button>Accent</button>
    <button color="warn" disableRipple mat-button>Warn</button>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
</div> <hr>

<!-- Mat Button Fab  -->
<button id="extended" mat-fab extended>
    <mat-icon>home</mat-icon>
    Home
</button> <hr>

<!-- Mat Button Toggle -->
<div>
    <mat-button-toggle #toggleBtn1>Toggle Button</mat-button-toggle>
    {{toggleBtn1.checked}}
</div> <hr>

<div>
    <mat-button-toggle #toggleBtn2 checked disableRipple>Toggle Button</mat-button-toggle>
    {{toggleBtn2.checked}}
</div> <hr>

<div>
    <mat-button-toggle #toggleBtn3 checked disableRipple disabled>Toggle Button</mat-button-toggle>
    {{toggleBtn3.checked}}
</div> <hr>

<!-- Toggle Group Single Selection Radio Button Type -->
<h3>Single selection</h3>
<mat-button-toggle-group #toggleGroup="matButtonToggleGroup" name="favoriteColor" aria-label="Favorite Color">
    <mat-button-toggle value="Red">Red</mat-button-toggle>
    <mat-button-toggle value="Green">Green</mat-button-toggle>
    <mat-button-toggle value="Blue">Blue</mat-button-toggle>
</mat-button-toggle-group> {{toggleGroup.value}} <hr>

<!-- Toggle Group Multiple Selection CheckBox Type -->
<h3>Multiple Selection</h3>
<mat-button-toggle-group name="ingredients" #toggleGroup1="matButtonToggleGroup" aria-label="Ingredients" multiple>
    <mat-button-toggle value="Flour">Flour</mat-button-toggle>
    <mat-button-toggle value="Eggs">Eggs</mat-button-toggle>
    <mat-button-toggle value="Sugar">Sugar</mat-button-toggle>
</mat-button-toggle-group> {{toggleGroup1.value}} <hr>

<!-- Mat Icons Examples -->
<div>
    <mat-icon>accessibility</mat-icon>
    <mat-icon>http</mat-icon>
    <mat-icon>https</mat-icon>
</div> <hr>

<!-- Mat Icons Examples -->
<div>
    <button id="extended" mat-raised-button extended>
        <mat-icon>home</mat-icon>
        Home
    </button>
    <button id="extended" mat-raised-button extended>
        <mat-icon><span class="material-symbols-outlined">
            shopping_cart_checkout
            </span></mat-icon>
        Shopping Cart Checkout
    </button>
    <button id="extended" mat-raised-button extended>
        <mat-icon>expand_circle_down</mat-icon>
        Expand Circle
    </button>
    <!-- <button id="extended" mat-raised-button extended> -->
        <mat-icon color="accent">taxi_alert</mat-icon>
        <mat-icon color="primary">bluetooth_connected</mat-icon>
        <mat-icon color="warn">crisis_alert</mat-icon>
        <mat-icon color="accent"><span class="material-symbols-outlined">
            local_taxi
        </span></mat-icon>
    <!-- </button> -->
</div> <hr>

<!-- Animate.css Animations Examples -->
<div class="animate__animated animate__bounce">Example</div>
<div class="animate__animated animate__bounce">An animated element</div>
<div class="animate__animated animate__flash">FLASH</div>

<span>Check out Animate.css Click Here :- </span>
<a href="http://animate.style/" target="_blank" rel="noopener noreferrer">Animate Style CSS</a>
<hr>

<!-- Badges -->
<div>
    <span style="color: peru" matBadge="15" matBadgeColor="accent" matBadgeOverlap="false">Notifications</span>
</div>

<div>
    <span style="color: peru" matBadgeSize="large" matBadge="6" matBadgeColor="primary" matBadgeOverlap="false">Notifications</span>
</div>

<div>
    <span style="color: peru" matBadgeSize="small" matBadge="7" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div>

<div>
    <span style="color: peru" matBadgeSize="medium" matBadge="8" matBadgeColor="accent" matBadgeOverlap="false">Notifications</span>
</div>

<div>
    <span style="color: peru" matBadgeSize="medium" matBadge="8" matBadgePosition="before" matBadgeColor="accent" matBadgeOverlap="false">Notifications</span>
</div>

<div>
    <span style="color: peru" matBadgeSize="small" matBadge="8" matBadgeColor="primary" matBadgePosition="below before" matBadgeOverlap="false">Notifications</span>
</div>

<div>
    <span style="color: peru" matBadgeSize="large" matBadge="8" matBadgeColor="warn" matBadgePosition="below after" matBadgeOverlap="false">Notifications</span>
</div>

<div>
    <span style="color: peru" matBadgeSize="medium" matBadge="8" matBadgeColor="primary" matBadgeOverlap="false">Notifications</span>
</div>

<div>
    <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Action
    </button>
</div>

<div>
    <button disableRipple mat-raised-button color="accent"
        matBadge="8" matBadgeSize="small" matBadgeColor="primary">
        Action
    </button>
</div>

<div>
    Button toggles badge visibility
    <button mat-raised-button color="warn" matBadgeOverlap="false" matBadgeSize="medium" matBadgeColor="accent" matBadge="12" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
        Hide
    </button>
</div>

<div>
    Button toggles badge visibility and Button disabled
    <button disabled mat-raised-button color="warn" matBadgeSize="medium" matBadgeColor="accent" matBadge="12">
        Button disabled
    </button>
</div>

<div>
    Icon with a badge
    <mat-icon [matBadge]="homeNotifications" [matBadgeHidden]="homeNotifications == 0" matBadgeColor="warn">home</mat-icon>
    <mat-icon matBadge="25" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="primary">notifications_active</mat-icon>
    <mat-icon matBadge="5" matBadgeSize="medium" matBadgePosition="below before" matBadgeColor="accent">error</mat-icon>
</div> <hr>

<!-- Mat Progress Spinner -->
<span>Progress Spinner with 40%</span><mat-progress-spinner color="accent" value="40"></mat-progress-spinner>
<span>Progress Spinner with 100%</span><mat-progress-spinner [value]="progressSpinner"></mat-progress-spinner>
<span>This is a Spinner</span><mat-spinner color="warn"></mat-spinner>
<mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
<button (click)="loadData()">Load Data</button> <hr>

<!-- NavBar -->
<mat-toolbar color="accent" class="navbar">
    <div>Code Evolution</div>
    <div>
        <span>Home</span>
        <span>About</span>
        <span>Services</span>
    </div>
</mat-toolbar> <hr>

<!-- Side Navigation (SideNav) Basic Position Default is "Start" -->
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">Side content</mat-sidenav>
    <mat-sidenav-content>Main Content
        <button (click)="opened=!opened">Toggle Opened</button>
    </mat-sidenav-content>
</mat-sidenav-container> <hr>

<!-- Side Navigation (SideNav) Properties. 1.position 2.mode-->
<mat-sidenav-container>
    <mat-sidenav position="end" [(opened)]="opened1">Side content</mat-sidenav>
    <mat-sidenav-content>Main Content
        <button (click)="opened1=!opened1">Toggle Opened</button>
    </mat-sidenav-content>
</mat-sidenav-container> <hr>

<!-- Side Navigation (SideNav) Properties. 1.position 2.mode. For "mode attribute the default
    is over" -->
<!-- <mat-sidenav-container>
    <mat-sidenav mode="over" [(opened)]="opened2">Side content</mat-sidenav>
    <mat-sidenav-content>Main Content
        <button (click)="opened2=!opened2">Toggle Opened</button>
    </mat-sidenav-content>
</mat-sidenav-container> <hr> -->

<!-- Side Navigation (SideNav) Properties. 1.position 2.mode. hasBackdrop attribute false true-->
<mat-sidenav-container hasBackdrop="false">
    <mat-sidenav mode="push" [(opened)]="opened3">Side content</mat-sidenav>
    <mat-sidenav-content>Main Content
        <button (click)="opened3=!opened3">Toggle Opened</button>
    </mat-sidenav-content>
</mat-sidenav-container> <hr>

<!-- Side Navigation (SideNav) Properties. 1.position 2.mode. -->
<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened4">Side content</mat-sidenav>
    <mat-sidenav-content>Main Content
        <button (click)="opened4=!opened4">Toggle Opened</button>
    </mat-sidenav-content>
</mat-sidenav-container> <hr>

<!-- Side Navigation (SideNav) Properties. 1.position 2.mode. -->
<mat-sidenav-container>
    <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened5">Side content</mat-sidenav>
    <mat-sidenav-content>Main Content
        <button (click)="opened5=!opened5">Toggle Opened</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">Close</button>
        <button (click)="sidenav.toggle()">Toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container> <hr>

<!-- Mat Drawer Example -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [(opened)]="opened5">Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> <hr>

<!-- Menu -->
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu> <hr>

<!-- Basic Menu -->
<button mat-raised-button color="primary" [matMenuTriggerFor]="appMenu">Menu</button>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item>FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
</mat-menu> <hr>

<button class="center" mat-raised-button color="primary" [matMenuTriggerFor]="appMenuNested">Menu</button>
<mat-menu #appMenuNested="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [mat-menu-trigger-for]="subMenu">FrontEnd</button>
    <button mat-menu-item [mat-menu-trigger-for]="subMenu1">BackEnd</button>
</mat-menu> <hr>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React JS</button>
    <button mat-menu-item>JavaScript</button>
</mat-menu>

<mat-menu #subMenu1="matMenu">
    <button mat-menu-item>Java</button>
    <button mat-menu-item>Spring Boot</button>
    <button mat-menu-item>NodeJS</button>
</mat-menu>

<button class="center" mat-raised-button color="primary" [matMenuTriggerFor]="appMenuNested1">Menu</button>
<mat-menu #appMenuNested1="matMenu" xPosition="after" yPosition="below">
    <button mat-menu-item [mat-menu-trigger-for]="subMenu">FrontEnd</button>
    <button mat-menu-item [mat-menu-trigger-for]="subMenu1">BackEnd</button>
</mat-menu> <hr>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React JS</button>
    <button mat-menu-item>JavaScript</button>
</mat-menu>

<mat-menu #subMenu1="matMenu">
    <button mat-menu-item>Java</button>
    <button mat-menu-item>Spring Boot</button>
    <button mat-menu-item>NodeJS</button>
</mat-menu>

<button class="center" mat-raised-button color="primary" [matMenuTriggerFor]="appMenuNested2">Menu</button>
<mat-menu #appMenuNested2="matMenu" xPosition="before" yPosition="above">
    <button mat-menu-item [mat-menu-trigger-for]="subMenu">FrontEnd</button>
    <button mat-menu-item [mat-menu-trigger-for]="subMenu1">BackEnd</button>
</mat-menu> <hr>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React JS</button>
    <button mat-menu-item>JavaScript</button>
</mat-menu>

<mat-menu #subMenu1="matMenu">
    <button mat-menu-item>Java</button>
    <button mat-menu-item>Spring Boot</button>
    <button mat-menu-item>NodeJS</button>
</mat-menu>

<button class="center" mat-button color="primary" [matMenuTriggerFor]="appMenuNested1">Menu</button>
<mat-menu #appMenuNested1="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item [mat-menu-trigger-for]="subMenu">FrontEnd</button>
    <button mat-menu-item [mat-menu-trigger-for]="subMenu1">BackEnd</button>
</mat-menu> <hr>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React JS</button>
    <button mat-menu-item>JavaScript</button>
</mat-menu>

<mat-menu #subMenu1="matMenu">
    <button mat-menu-item>Java</button>
    <button mat-menu-item>Spring Boot</button>
    <button mat-menu-item>NodeJS</button>
</mat-menu> 

<mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list> <hr>

<mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">SignUp</a>
    <a mat-list-item href="#">Login</a>
</mat-nav-list> <hr>

<mat-list>
    <mat-list-item>
        <mat-icon matListItemIcon>home</mat-icon>
        <h3 matListItemLine>Heading</h3>
        <p matListItemLine>Line</p>
    </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-list>
    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <h3 matListItemLine>Heading 2</h3>
        <p matListItemLine>Line 2</p>
    </mat-list-item>
</mat-list> <hr>

<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> <hr>

<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile colspan="2">1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> <hr>

<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile rowspan="2">1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> <hr>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile >1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> <hr>

<mat-grid-list cols="2" rowHeight="fit" style="height: 400px;" gutterSize="5px">
    <mat-grid-tile >1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> <hr>

<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> This is the expansion title </mat-panel-title>
        <mat-panel-description> This is a summary of the content </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title> Self aware panel </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState() ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
</mat-accordion> <hr>

<mat-accordion multi="true" hideToggle>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> This is the expansion title </mat-panel-title>
        <mat-panel-description> This is a summary of the content </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState1.set(true)" (closed)="panelOpenState1.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title> Self aware panel </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState1() ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
</mat-accordion> <hr>

<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Australian Shepherd</mat-card-title>
      <mat-card-subtitle>Herding group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Poodle</mat-card-title>
      <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>Learn More</button>
    </mat-card-actions>
</mat-card> <hr>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card> <hr>

<mat-tab-group>
    <mat-tab label="Angular"> Angular Framework </mat-tab>
    <mat-tab label="ReactJS"> ReactJS </mat-tab>
    <mat-tab label="Java"> Java Programming </mat-tab>
</mat-tab-group> <hr>

<mat-tab-group #tabRef>
    <mat-tab label="Angular"> Angular Framework </mat-tab>
    <mat-tab label="ReactJS"> ReactJS </mat-tab>
    <mat-tab label="Java"> Java Programming </mat-tab>
</mat-tab-group> 
{{tabRef.selectedIndex}} <hr>

