button {
    margin-right: 3rem;
}

#extended {
    text-transform: uppercase;
}

mat-icon {
    margin-right: 3rem;
}

div {
    margin: 2rem;
}

mat-progress-spinner {
    margin-bottom: 1rem;
}

.navbar {
    justify-content: space-between;
    border-radius: 1rem;
}

div > span {
    padding-right: 1rem;
}

mat-sidenav-container {
    height: 30%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: lightcoral;
    width: 100px;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
}

.center{
    margin: 10rem;
}

mat-grid-tile {
    background: lightblue;
}

.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}